/* 
Author: TP 2022
*/

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: cadetblue;
}

li.punainen { 
  color: rgb(12, 124, 10); 
}

.isoteksti {
  font-size: 32px;
}

#navigointi {
  background-color: aqua;
  color: darkblue;
  padding: 10px;
}